<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.com.bigspoon.www"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bigspoonmobileappiconwithname"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sg.com.bigspoon.www.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.TutorialScreen1"
            android:label="@string/title_activity_tutorial_screen1"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
\ 
        <activity
            android:name="sg.com.bigspoon.www.CustomList"
            android:label="@string/title_activity_custom_list" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.OutListActivity"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.ItemsActivity"
            android:label="@string/title_activity_items"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.EntryActivity"
            android:label="@string/title_activity_entry"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.TutorialScreen6"
            android:label="@string/title_activity_tutorial_screen6"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.SignUpActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.CategoriesListActivity"
            android:label="@string/title_activity_categories_list"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.BlankActivity"
            android:label="@string/title_activity_blank" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.MainListActivity"
            android:label="@string/title_activity_main_list" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.MenuPhotoListActivity"
            android:label="@string/title_activity_menu_list"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.MenuTextListActivity"
            android:label="@string/title_activity_menu_list"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name="sg.com.bigspoon.www.ActionBarActivity"
            android:label="@string/title_activity_action_bar" >
        </activity>
    </application>

</manifest>
